.main-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em; /* 72px */
  border-bottom: 1px solid white;
}

.nav-links {
  display: flex;
  gap: 2em;
}
.head-btn,
.head-btn {
  border-radius: 1.7em;
  padding: 0.7em;
  width: 6em;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  background-color: var(--button-color);
  color: white;
}
.head-btn:hover,
.head-btn:hover {
  background-color: var(--button-highlight);
}

/*********************** homepage*-************************** */

section.landing {
  background-color: black;
  min-height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
section.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.641);
}
section.landing .text {
  position: relative;
  width: 50em;
  max-width: 100%;
}
section.landing .text h1 {
  margin-bottom: 2em;
}

section.landing .text p {
  line-height: 1.5;
}
/*********************** homepage*-************************** */

/* sign in page ********************/

.sign-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-page .content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 25em;
}

.sign-page .content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.sign-page .content form input {
  padding: 0.5em 1em;
  border: none;
  background-color: var(--gray-light);
  height: 4em;
  border-radius: 0.5em;
}

.sign-page .content form button {
  border: none;
  padding: 0.5em;
  height: 3em;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}
.sign-page .content form button:hover {
  background-color: rgba(0, 0, 0, 0.87);
}
/********************* google******************* */
.sign-page .content .sign-in-options {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-page.content .sign-in-options::before,
.sign-page .content .sign-in-options::after {
  position: absolute;
  content: "";
  top: 50;
  transform: translateY(50%);
  height: 1px;
  background-color: black;
  width: 47%;
}
.sign-page .content .sign-in-options::before {
  left: 0;
}
.sign-page .content .sign-in-options::after {
  right: 0;
}
.sign-page .content .google-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  background-color: var(--gray-light);
  border-radius: 0.5em;
  width: 100%;
  height: 3em;
  cursor: pointer;
  transition: 0.5s;
}
.sign-page .content .google-sign-in:hover {
  background-color: #e0e0e0;
}

/* sign in page ********************/
/*********************** header for others************************* */
header.sign-header {
  position: relative;
  height: 4.5em;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
header.sign-header .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
/*********************** header for others **************************/

/* home pgae-*********************************************0000 */

section.home .container h2 {
  display: flex;
  justify-content: center;
  margin: 1em;
}

section.home .container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-content: center;
  gap: 2em;
}
section.home .container .cards-container .card {
  justify-self: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 1em;
  text-align: center;
  position: relative;
}
section.home .container .cards-container .card .fav {
  position: absolute;
  right: 0;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  background-color: white;
}
section.home .container .cards-container .card:hover {
  transform: scale(1.1);
}
section.home .container .cards-container .card img {
  width: 15em;
  max-width: 100%;
  border-radius: 1em;
}
/* home pgae-*********************************************0000 */

/********************** detail page************************************ */
section.detail .content {
  display: flex;
  margin-top: 2em;
  gap: 2em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 1em;
  height: 20em;
}
section.detail .content .image img {
  width: 25em;
  height: 100%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
section.detail .content .description {
  display: flex;
  gap: 3em;
  align-items: baseline;
  padding: 2em 1em 0;
}
section.detail .content .description ul {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

/********************** detail menu ****************************/
section.detail .menu {
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 1em;
  border-radius: 1em;
}
section.detail .menu h2 {
  display: flex;
  justify-content: center;
}
section.detail .menu .menu-content h3 {
  margin-bottom: 0.3em;
}
section.detail .menu .foods {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
}
section.detail .menu .foods p {
  margin: 0.3em 0;
}
/********************** detail menu ****************************/

/********************** detail page************************************ */
